section {
  background-color: #fff;
  padding: 20px 28px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.submodule-crm {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.module-title {
  color: var(--primary-color);
  font-size: 20px;
}

.panel-control-filter {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 15px;
}

.panel-control-filter button {
  width: 100%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: var(--primary-color);
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  border: 2px solid var(--primary-color);
  transition: all 0.3s;
  cursor: pointer;
}

.panel-control-filter button a {
  color: #fff;
}

.panel-control-filter button:hover {
  opacity: 90%;
}
