.user-card {
	height: 49%;
	border-radius: 10px;
	overflow: hidden;
	border: 1px solid #00000020;
	width: 100%;
}

.user-card .content {
	display: flex;
	justify-content: center;
	padding: 20px;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	height: 100%;
}

.user-card .content .title {
	font-size: 24px;
	color: #313131;
}

.user-card .content .desc {
	color: #848484;
}

.user-card .content .modules-info {
	display: flex;
	gap: 10px;
}

.user-card .content .modules-info button {
	border-radius: 30px;
	color: var(--primary-color);
	border-color: var(--primary-color);
}

.user-card .content .modules-info button.more-modules-info {
	background-color: var(--primary-color);
	color: #fff;
}

.user-card .content .view-profile {
	color: var(--primary-color);
}
