section {
  background-color: #fff;
  padding: 20px 28px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.show-crm {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper-tabs {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #00000050;
}

.section-tabs {
  padding: 0;
  overflow: hidden;
}

.wrapper-tabs .tab {
  padding: 10px 30px;
  cursor: pointer;
  border-right: 1px solid #00000050;
}

.tab-active {
  background-color: var(--primary-color);
}

.wrapper-tabs .tab p.active {
  color: #fff;
}

.wrapper-registry {
  padding: 40px;
}
