section {
  background-color: #fff;
  padding: 20px 28px;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.show-contracts {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.wrapper-tabs {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #00000050;
}

.section-tabs {
  padding: 0;
  overflow: hidden;
}

.wrapper-tabs .tab {
  padding: 10px 30px;
  cursor: pointer;
  border-right: 1px solid #00000050;
}

.tab-active {
  background-color: var(--primary-color);
}

.wrapper-tabs .tab p.active {
  color: #fff;
}

.wrapper-registry {
  padding: 40px;
}

.contracts__docs-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.contracts__docs-ucard {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 49%;
}

/* КАСТОМНЫЕ КЛАССЫ КОНТЕЙНЕРА ДЛЯ DOCX PREVIEW  */

.doc-viewer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.doc-container {
  width: 55.5% !important;
  height: 950px;
  overflow: hidden;
  position: relative;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.doc-content {
  transition: transform 0.5s ease;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 10px;
}

.pagination-controls button {
  background-color: var(--primary-color);
}

/* КЛАССЫ БИБЛИОТЕКИ DOCX PREVIEW */

.docx-wrapper {
  background-color: white !important; /* Убираем серый фон */
  display: flex;
  justify-content: center;
}

.docx {
  background-color: white !important; /* Убираем серый фон внутри документа */
  box-shadow: none !important; /* Убираем возможную тень */
  /* border: 1px solid rgba(0, 0, 0, 0.2); */
  overflow: visible;
  padding: 40px 70px !important;
}
