# Node.js
node_modules/            # Папка зависимостей, автоматически устанавливаемая через npm/yarn
npm-debug.log*           # Логи от ошибок npm
yarn-debug.log*          # Логи от ошибок yarn
yarn-error.log           # Лог ошибок Yarn
package-lock.json        # Можно исключить, если используете yarn
.env                     # Конфигурации среды, например, переменные окружения
.env.local               # Локальные настройки для разработки
.env.development         # Среда разработки
.env.test                # Среда тестирования
.env.production          # Среда продакшн

# IDE и редакторы
.vscode/                 # Конфигурация VS Code
.idea/                   # Конфигурация JetBrains IDE
*.swp                    # Временные файлы от редакторов
.DS_Store                # Специфично для macOS, временные файлы
Thumbs.db                # Специфично для Windows, кеш файлов

# Логи и временные файлы
logs/                    # Логи приложения
*.log                    # Лог файлы
*.pid                    # PID файлы
*.gz                     # Архивы, сжимаемые файлы

# Билды
build/                   # Папка с собранными файлами
dist/                    # Папка с дистрибутивом
coverage/                # Папка с отчетами о тестах покрытия

# Прочее
*.pem                    # Приватные ключи
*.crt                    # Сертификаты
