ul.modules-submodules-list {
  display: flex;
  width: 100%;
  padding-top: 10px;
  border-bottom: 4px solid var(--secondary-border-color);
  box-sizing: border-box;
}

.modules-submodules-list li {
  font-weight: 500;
  padding: 20px 30px;
  position: relative; /* Позволяет корректно накладывать border */
  box-sizing: border-box;
  border-bottom: 4px solid var(--secondary-border-color);
  margin-bottom: -4px;
  color: #000;
}

.modules-submodules-list li:hover {
  /* Поднимаем border, чтобы он накрыл border ul */
  border-color: var(--primary-border-color);
  color: #000;
  background-color: var(--primary-hover);
}

.modules-submodules-list li.active {
  border-color: var(--primary-border-color);
  background-color: var(--primary-hover);
  color: #000;
}

/* Для WebKit (Chrome, Safari, Edge) */
ul.modules-submodules-list::-webkit-scrollbar {
  height: 8px; /* Высота горизонтального скролла */
}

ul.modules-submodules-list::-webkit-scrollbar-track {
  background: #f1f1f1; /* Цвет фона дорожки */
  border-radius: 4px;
}

ul.modules-submodules-list::-webkit-scrollbar-thumb {
  background: #888; /* Цвет ползунка */
  border-radius: 4px;
}

ul.modules-submodules-list::-webkit-scrollbar-thumb:hover {
  background: #555; /* Цвет при наведении */
}

/* Для Firefox */
ul.modules-submodules-list {
  scrollbar-width: thin; /* Тонкий скролл */
}
